web/WEB-INF/wsdl/201.94.137.12/SasIntegra/SasIntegraWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.integra.sascar.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.integra.sascar.com.br/" name="SasIntegraWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.integra.sascar.com.br/" schemaLocation="http://201.94.137.12:80/SasIntegra/SasIntegraWSService?xsd=1"/>
</xsd:schema>
</types>
<message name="validarAcessoMetodoCliente">
<part name="parameters" element="tns:validarAcessoMetodoCliente"/>
</message>
<message name="validarAcessoMetodoClienteResponse">
<part name="parameters" element="tns:validarAcessoMetodoClienteResponse"/>
</message>
<message name="validarAcessoMetodoSascar">
<part name="parameters" element="tns:validarAcessoMetodoSascar"/>
</message>
<message name="validarAcessoMetodoSascarResponse">
<part name="parameters" element="tns:validarAcessoMetodoSascarResponse"/>
</message>
<message name="obterClientes">
<part name="parameters" element="tns:obterClientes"/>
</message>
<message name="obterClientesResponse">
<part name="parameters" element="tns:obterClientesResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="obterMotoristas">
<part name="parameters" element="tns:obterMotoristas"/>
</message>
<message name="obterMotoristasResponse">
<part name="parameters" element="tns:obterMotoristasResponse"/>
</message>
<message name="obterMotoristasVeiculos">
<part name="parameters" element="tns:obterMotoristasVeiculos"/>
</message>
<message name="obterMotoristasVeiculosResponse">
<part name="parameters" element="tns:obterMotoristasVeiculosResponse"/>
</message>
<message name="obterLayoutTecladoVeiculos">
<part name="parameters" element="tns:obterLayoutTecladoVeiculos"/>
</message>
<message name="obterLayoutTecladoVeiculosResponse">
<part name="parameters" element="tns:obterLayoutTecladoVeiculosResponse"/>
</message>
<message name="obterLayoutGrupoPontos">
<part name="parameters" element="tns:obterLayoutGrupoPontos"/>
</message>
<message name="obterLayoutGrupoPontosResponse">
<part name="parameters" element="tns:obterLayoutGrupoPontosResponse"/>
</message>
<message name="obterGrupoAtuadores">
<part name="parameters" element="tns:obterGrupoAtuadores"/>
</message>
<message name="obterGrupoAtuadoresResponse">
<part name="parameters" element="tns:obterGrupoAtuadoresResponse"/>
</message>
<message name="obterStatusComando">
<part name="parameters" element="tns:obterStatusComando"/>
</message>
<message name="obterStatusComandoResponse">
<part name="parameters" element="tns:obterStatusComandoResponse"/>
</message>
<message name="obterTipoComando">
<part name="parameters" element="tns:obterTipoComando"/>
</message>
<message name="obterTipoComandoResponse">
<part name="parameters" element="tns:obterTipoComandoResponse"/>
</message>
<message name="obterPacotePosicoes">
<part name="parameters" element="tns:obterPacotePosicoes"/>
</message>
<message name="obterPacotePosicoesResponse">
<part name="parameters" element="tns:obterPacotePosicoesResponse"/>
</message>
<message name="obterPacoteLocalizacao">
<part name="parameters" element="tns:obterPacoteLocalizacao"/>
</message>
<message name="obterPacoteLocalizacaoResponse">
<part name="parameters" element="tns:obterPacoteLocalizacaoResponse"/>
</message>
<message name="obterMacroTd50Tmcd">
<part name="parameters" element="tns:obterMacroTd50Tmcd"/>
</message>
<message name="obterMacroTd50TmcdResponse">
<part name="parameters" element="tns:obterMacroTd50TmcdResponse"/>
</message>
<message name="obterMacroTd50TmcdDetalhado">
<part name="parameters" element="tns:obterMacroTd50TmcdDetalhado"/>
</message>
<message name="obterMacroTd50TmcdDetalhadoResponse">
<part name="parameters" element="tns:obterMacroTd50TmcdDetalhadoResponse"/>
</message>
<message name="obterMacroTd40">
<part name="parameters" element="tns:obterMacroTd40"/>
</message>
<message name="obterMacroTd40Response">
<part name="parameters" element="tns:obterMacroTd40Response"/>
</message>
<message name="obterMacroTms3">
<part name="parameters" element="tns:obterMacroTms3"/>
</message>
<message name="obterMacroTms3Response">
<part name="parameters" element="tns:obterMacroTms3Response"/>
</message>
<message name="obterMascaraDispositivos">
<part name="parameters" element="tns:obterMascaraDispositivos"/>
</message>
<message name="obterMascaraDispositivosResponse">
<part name="parameters" element="tns:obterMascaraDispositivosResponse"/>
</message>
<message name="obterLayout">
<part name="parameters" element="tns:obterLayout"/>
</message>
<message name="obterLayoutResponse">
<part name="parameters" element="tns:obterLayoutResponse"/>
</message>
<message name="obterLayoutDetalhado">
<part name="parameters" element="tns:obterLayoutDetalhado"/>
</message>
<message name="obterLayoutDetalhadoResponse">
<part name="parameters" element="tns:obterLayoutDetalhadoResponse"/>
</message>
<message name="obterLayoutAcaoEmbarcadaAVD">
<part name="parameters" element="tns:obterLayoutAcaoEmbarcadaAVD"/>
</message>
<message name="obterLayoutAcaoEmbarcadaAVDResponse">
<part name="parameters" element="tns:obterLayoutAcaoEmbarcadaAVDResponse"/>
</message>
<message name="obterVeiculos">
<part name="parameters" element="tns:obterVeiculos"/>
</message>
<message name="obterVeiculosResponse">
<part name="parameters" element="tns:obterVeiculosResponse"/>
</message>
<message name="obterPontosReferencia">
<part name="parameters" element="tns:obterPontosReferencia"/>
</message>
<message name="obterPontosReferenciaResponse">
<part name="parameters" element="tns:obterPontosReferenciaResponse"/>
</message>
<message name="obterSequenciamentoEvento">
<part name="parameters" element="tns:obterSequenciamentoEvento"/>
</message>
<message name="obterSequenciamentoEventoResponse">
<part name="parameters" element="tns:obterSequenciamentoEventoResponse"/>
</message>
<message name="obterMensagemPortal">
<part name="parameters" element="tns:obterMensagemPortal"/>
</message>
<message name="obterMensagemPortalResponse">
<part name="parameters" element="tns:obterMensagemPortalResponse"/>
</message>
<message name="obterTelemetriaPortal">
<part name="parameters" element="tns:obterTelemetriaPortal"/>
</message>
<message name="obterTelemetriaPortalResponse">
<part name="parameters" element="tns:obterTelemetriaPortalResponse"/>
</message>
<message name="obterEnderecoPosicao">
<part name="parameters" element="tns:obterEnderecoPosicao"/>
</message>
<message name="obterEnderecoPosicaoResponse">
<part name="parameters" element="tns:obterEnderecoPosicaoResponse"/>
</message>
<message name="verificarVeiculoIntegrado">
<part name="parameters" element="tns:verificarVeiculoIntegrado"/>
</message>
<message name="verificarVeiculoIntegradoResponse">
<part name="parameters" element="tns:verificarVeiculoIntegradoResponse"/>
</message>
<portType name="SasIntegraWS">
<operation name="validarAcessoMetodoCliente">
<input message="tns:validarAcessoMetodoCliente"/>
<output message="tns:validarAcessoMetodoClienteResponse"/>
</operation>
<operation name="validarAcessoMetodoSascar">
<input message="tns:validarAcessoMetodoSascar"/>
<output message="tns:validarAcessoMetodoSascarResponse"/>
</operation>
<operation name="obterClientes">
<input message="tns:obterClientes"/>
<output message="tns:obterClientesResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="obterMotoristas">
<input message="tns:obterMotoristas"/>
<output message="tns:obterMotoristasResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="obterMotoristasVeiculos">
<input message="tns:obterMotoristasVeiculos"/>
<output message="tns:obterMotoristasVeiculosResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="obterLayoutTecladoVeiculos">
<input message="tns:obterLayoutTecladoVeiculos"/>
<output message="tns:obterLayoutTecladoVeiculosResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="obterLayoutGrupoPontos">
<input message="tns:obterLayoutGrupoPontos"/>
<output message="tns:obterLayoutGrupoPontosResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="obterGrupoAtuadores">
<input message="tns:obterGrupoAtuadores"/>
<output message="tns:obterGrupoAtuadoresResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="obterStatusComando">
<input message="tns:obterStatusComando"/>
<output message="tns:obterStatusComandoResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="obterTipoComando">
<input message="tns:obterTipoComando"/>
<output message="tns:obterTipoComandoResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="obterPacotePosicoes">
<input message="tns:obterPacotePosicoes"/>
<output message="tns:obterPacotePosicoesResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="obterPacoteLocalizacao">
<input message="tns:obterPacoteLocalizacao"/>
<output message="tns:obterPacoteLocalizacaoResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="obterMacroTd50Tmcd">
<input message="tns:obterMacroTd50Tmcd"/>
<output message="tns:obterMacroTd50TmcdResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="obterMacroTd50TmcdDetalhado">
<input message="tns:obterMacroTd50TmcdDetalhado"/>
<output message="tns:obterMacroTd50TmcdDetalhadoResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="obterMacroTd40">
<input message="tns:obterMacroTd40"/>
<output message="tns:obterMacroTd40Response"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="obterMacroTms3">
<input message="tns:obterMacroTms3"/>
<output message="tns:obterMacroTms3Response"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="obterMascaraDispositivos">
<input message="tns:obterMascaraDispositivos"/>
<output message="tns:obterMascaraDispositivosResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="obterLayout">
<input message="tns:obterLayout"/>
<output message="tns:obterLayoutResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="obterLayoutDetalhado">
<input message="tns:obterLayoutDetalhado"/>
<output message="tns:obterLayoutDetalhadoResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="obterLayoutAcaoEmbarcadaAVD">
<input message="tns:obterLayoutAcaoEmbarcadaAVD"/>
<output message="tns:obterLayoutAcaoEmbarcadaAVDResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="obterVeiculos">
<input message="tns:obterVeiculos"/>
<output message="tns:obterVeiculosResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="obterPontosReferencia">
<input message="tns:obterPontosReferencia"/>
<output message="tns:obterPontosReferenciaResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="obterSequenciamentoEvento">
<input message="tns:obterSequenciamentoEvento"/>
<output message="tns:obterSequenciamentoEventoResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="obterMensagemPortal">
<input message="tns:obterMensagemPortal"/>
<output message="tns:obterMensagemPortalResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="obterTelemetriaPortal">
<input message="tns:obterTelemetriaPortal"/>
<output message="tns:obterTelemetriaPortalResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="obterEnderecoPosicao">
<input message="tns:obterEnderecoPosicao"/>
<output message="tns:obterEnderecoPosicaoResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
<operation name="verificarVeiculoIntegrado">
<input message="tns:verificarVeiculoIntegrado"/>
<output message="tns:verificarVeiculoIntegradoResponse"/>
<fault message="tns:Exception" name="Exception"/>
</operation>
</portType>
<binding name="SasIntegraWSPortBinding" type="tns:SasIntegraWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="validarAcessoMetodoCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarAcessoMetodoSascar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obterClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obterMotoristas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obterMotoristasVeiculos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obterLayoutTecladoVeiculos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obterLayoutGrupoPontos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obterGrupoAtuadores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obterStatusComando">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obterTipoComando">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obterPacotePosicoes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obterPacoteLocalizacao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obterMacroTd50Tmcd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obterMacroTd50TmcdDetalhado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obterMacroTd40">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obterMacroTms3">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obterMascaraDispositivos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obterLayout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obterLayoutDetalhado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obterLayoutAcaoEmbarcadaAVD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obterVeiculos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obterPontosReferencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obterSequenciamentoEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obterMensagemPortal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obterTelemetriaPortal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obterEnderecoPosicao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="verificarVeiculoIntegrado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="SasIntegraWSService">
<port name="SasIntegraWSPort" binding="tns:SasIntegraWSPortBinding">
<soap:address location="http://201.94.137.12:80/SasIntegra/SasIntegraWSService"/>
</port>
</service>
</definitions>